
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; /* iOS long-press */
}

button, img, a {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

button, a {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.dark body img:not(.no-invert):not(.leaflet-tile):not(.leaflet-marker-icon) {
  filter: invert(1) brightness(2);
}

.invert-filter {
  filter: invert(1) brightness(2);
}

.gray-500-filter {
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(95%) contrast(90%) !important;
}

.green-500-filter {
  filter: invert(59%) sepia(94%) saturate(425%) hue-rotate(85deg) brightness(95%) contrast(90%) !important;
}

.red-500-filter {
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%) !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none !important;
}
